body {
  background-color: white;
  background-image: url(../images/bg-header-mobile.png);
  background-blend-mode: multiply;
  background-size: contain, cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 65rem) {
  body {
    background-image: url(../images/bg-header-desktop.png);
  }
}
