.btn {
  color: white;
  padding: 1rem 2rem 0.8rem 2rem;
  margin-bottom: 1.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  text-align: center;
  border-bottom: solid #00000025 0.2rem;
}

.btn:hover {
  opacity: 80%;
}

.btn-blue {
  background-color: #6173ffff;
}

.btn-green {
  background-color: #26baa4ff;
}

.buttons {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
}

@media screen and (max-width: 65rem) {
  .btn {
    width: 95%;
  }
  .buttons {
    flex-flow: wrap column;
  }
}
