.footer {
  display: grid;
  grid-template-areas:
    "links"
    "social";
  width: 100%;
  background-color: #f5f6f8;
  text-align: center;
}

.footer img {
  margin: auto;
}

.footer .links {
  grid-area: links;
  display: grid;
  grid-template-areas:
  "log"
  "faq"
  "conct"
  "privc"
  "press"
  "inst";
  gap: 2rem;
  margin: 2rem auto;
}

.footer .links * {
  max-height: 3rem;
}

.footer .social {
  grid-area: social;
  margin: auto auto 2.5rem;
}

.footer .social * {
  display: inline-block;
  margin: 0 0.5rem;
}

.footer a {
  color: #4c545dff;
  font-weight: 400;
}

.footer .links a:nth-child(1) {
  grid-area: log;
}

.footer .links a:nth-child(2) {
  grid-area: faq;
}

.footer .links a:nth-child(3) {
  grid-area: conct;
}

.footer .links a:nth-child(4) {
  grid-area: privc;
}

.footer .links a:nth-child(5) {
  grid-area: press;
}

.footer .links a:nth-child(6) {
  grid-area: inst;
}

.footer a:hover {
  color: #26ceb6;
}

@media screen and (min-width: 65rem) {
  .footer {
    grid-template-areas: "links social";
  }
  .footer .links {
    grid-template-areas:
      "log faq    privc inst"
      "log conct press .";
    text-align: left;
    column-gap: 7rem;
    row-gap: 1rem;
  }
  .footer .social {
    align-self: center;
  }
}
