.section-start {
  display: block;
  width: 100%;
  margin: 5rem auto auto;
  text-align: center;
  max-width: 40rem;
}

.section-start p {
  margin-top: 1rem;
}

@media screen and (min-width: 65rem) {
  .section-start {
    padding: 0 0;
  }
}
