.section-3 {
  width: 100%;
}

.section-3 img {
  margin-bottom: 2rem;
}

.section-3 .articles {
  margin: 5rem auto auto;
  text-align: center;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: baseline;
  gap: 4rem;
}

.section-3 article {
  width: 100%;
}

@media screen and (min-width: 65rem) {
  .section-3 .articles {
    flex-flow: wrap row;
    max-width: 90%;
    align-content: space-evenly;
    gap: 2rem;
  }
  .section-3 article {
    width: calc((100% / 3) - (0.5rem * 3));
  }
}
